.header {
  background-color: #fff;
}

.logo img {
     margin-top: 0px;
    max-width: 188px;
}


.navbar-nav .nav-link {
  color: #000; 

  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #0b5ba1;
}

.navbar-nav .nav-item .nav-link.custom-icon {
  display: flex;
  align-items: center;
      padding-top: 38px;
}

.navbar-nav .nav-item .nav-link.custom-icon:hover {
  color: #fff;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #0b5ba1;
}

.header .navbar-nav {
  flex-wrap: wrap;
  gap: 22px;
}

.header .nav-item {
  margin-right: 15px;
}

.custom-icon {
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #0b5ba1;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.custom-icon:hover {
  background-color: #0b5ba1;
  color: #fff;
}

@media (max-width: 767px) {
  .header .navbar {
    justify-content: center;
  }

  .header .logo {
    margin-bottom: 0;
  }
}
